---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        {% if page.project %}
        <div class="animated fadeIn">
        {% else %}
        <div class="wrapper animated fadeIn">
        {% endif %}

            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
<!--                     <h4>{{ page.date | date_to_string }}</h4>
 -->                    {% if page.project %}
                    <a class="btnBack" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btnBack" href="{{site.url}}/posts/">
                    {% endif %}
                        ↼ B A C K
                    </a>
                </div>
                {{ content }}
                <!-- 多说分享 start -->
               <!--  <div class="ds-share" data-thread-key={{page.id}} data-title={page.title}} data-images="此处请替换为分享时显示的图片的链接地址" data-content="此处请替换为分享时显示的内容" data-url={{page.url}}>
                    <div class="ds-share-inline">
                      <ul  class="ds-share-icons-16">     
                    <li>
                            <a id="icon_share1" class="icon_share" href="javascript:void(0);" data-service="weibo">
                                <i class="iconfont">&#xe61a;</i>
                            </a>
                        </li>
                        <li>
                            <a id="icon_share2" class="icon_share" href="javascript:void(0);" data-service="wechat">
                                <i class="iconfont">&#xe66f;</i>
                            </a>
                        </li>
                        <li>
                            <a id="icon_share3" class="icon_share" href="javascript:void(0);" data-service="douban">
                                <i class="iconfont">&#xe60c;</i>
                            </a> 
                        </li> 
                      </ul>
                      <div class="ds-share-icons-more">
                      </div>
                    </div>
                </div> -->
                <!-- 多说分享 end -->
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key={{page.id}} data-title={{page.title}} data-url={{page.url}}></div>
                <!-- 多说评论框 end -->

                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"fionalu"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                         || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                    </script>
                <!-- 多说公共JS代码 end -->

                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260823669'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260823669%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
