---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn" style="position: relative; padding-left: 0;padding-right: 0;">
            <div class="content" style="padding: 0;">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class=" " style="overflow: hidden; width: 770px; margin:0 auto;">
                    {% for post in site.posts %} 
                        {% if post.project %}
                    <div class="wow fadeInDown" data-wow-duration="1.5s" style="width: 236px; float: left; box-shadow:0 1px 3px rgba(0,0,0,.3); margin-left: 10px; margin-top: 10px; margin-bottom: 10px; margin-right: 10px;">
                        <a href="{{ site.url }}{{ post.url }}"><img src="{{ post.img }}"></a>
                        <hr style="background-color: #e2e2e2; background-image:none; margin: 0; height: 0.5px;">
                        <p style="padding-left: 16px; color: #444">{{ post.title }}</p>
                    </div>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260823669'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260823669%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
